<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <title>Carrito</title>
</head>

<body>

    <div class="container mt-3" id="app">

        <h1>Lista Del Carrito</h1>
        <form @submit.prevent="agregar()">
            <!-- Submit.prevent es para evitar el refresco de las paginas y despues poner el metodo para evitar bugs -->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre Del Producto</label>
                <input v-model="nombre" required type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Precio Del Producto</label>
                <input v-model="precio" required type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Cantidad De Productos</label>
                <input v-model="cantidad" required type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Departamento</label>
                <input v-model="departamento" required type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Url</label>
                <input v-model="url" required type="url" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Vencimiento</label>
                <input v-model="vencimiento" required type="date" class="form-control">
            </div>


            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>


        <br>
        <br>
        <h5>Table Color</h5>
        <select v-model="colorTable"> <!-- V model para ligar variable con input select etc. -->
            <option value="dark">Color Negro</option>
            <option value="danger">Color Rojo</option>
            <option value="success">Color Verde</option>
            <option value="warning">Color Amarillo</option>

        </select>


        <table :class="'table mt-5 table-'+colorTable"> <!-- concatenar variables de vue con html -->
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>

                    <th scope="col">Departamento</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Vencimiento</th>


                </tr>
            </thead>
            <tbody>
                <tr v-for="producto in productos">
                    <th>{{producto.nombre}}</th>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.cantidad}}</td>

                    <td>{{producto.departamento}}</td>
                    <td><img :src="producto.url" alt="FotoNoEncontrada" style="width: 100px;"></td>
                    <td>{{producto.vencimiento}}</td>



                </tr>
            </tbody>
        </table>
    </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="carrito2.js"></script>

</body>

</html>